@charset "utf-8";

#slider{
    background-color: yellow;
    width:100%;
    height: 670px;
    position: relative;    
    border:1px solid black; 
    border-left-style: none;
    border-right-style: none;
}

#slider>#buyimg{
    width:380px;
    height:400px;
    background-color: blue;
    position: absolute;
    top:150px;
    left:400px;
}

#slider>#buyimg img{
    width:100%;
    height:100%;
}

#choice{
    width:700px; height: 100%;
    background-color:skyblue;    
    position: absolute;
    left:785px;
}

#choice>h2{
    text-align: center;
    margin-top:50px;
}



#choice>.table th{
    width:200px; text-align: left;
}

#choice>.table td{
     width:400px;  
    padding:15px;
}

#choice>.table2{
    width:700px;
    height: 200px;   
    border:1px dotted gray;  
    border-left:none;
    border-right:none;
    border-bottom:none;  
}


#choice>.table2 th{
    width:200px; text-align: left;
}

#choice>.table2 td{
     width:400px;  
    padding:15px;
}

#choice>.table3{
    width:700px;
    height: 200px;   
    border:1px dotted gray;  
    border-left:none;
    border-right:none;
    border-bottom:none;
}

#choice>.table3 th{
    width:200px; text-align: left;
}

#choice>.table3 td{
     width:400px;  
    padding:15px;
}

#choice>.table3>.button_box{
    width:600px;
    height:200px;
   
}

#choice>.table3>.button_box>a>button{
    margin: 40px 0 0 10px;
    padding:5px 20px;
    font-size: 25px;
    background-color: white;    
}

#choice>.table3>.button_box>a>button:hover{
    background-color: ivory;
    cursor: pointer;
}

#choice>.table3>.button_box>a>.button1:hover{
    background-color: red;
    cursor: pointer;
    }


#choice>.table3>.button_box>a>.button1{
    margin: 40px 0 0 10px;
    padding:5px 20px;
    font-size: 25px;
    background-color: tomato;
    color:white;
    width:250px;
    border:none;
}


#content1 {
    background-color: aqua;
    width: 100%;
    height: 15000px;
    position: relative;
}

#content1>#content_center {
    background-color: ivory;
    width: 1080px;
    height: 100%;
    margin: 0 auto;
}

#content1>#content_center .tapmenu{
    width:100%;
    height:75px;
    background-color: gray;
    font-weight:bold; 
    text-align: center;    
   
}

#content1>#content_center .tapmenu>li{
    list-style:none;
    display: inline;
    text-align: center;  
    padding:0 65px;
   
}

#content1>#content_center .tapmenu>li>a{
    text-decoration: none;
    font-size:30px;
    color:white;
    line-height: 75px;
}

#content1>#content_center .tapmenu>li>a:hover{
    opacity: 0.8;
    color:lightgray;
}

#content1>#content_center #review>#reviewtable{
    width:1080px; height:350px;    
}
   
#content1>#content_center>#review>#reviewtable{
   text-align: center;
}

#content1>#content_center>#review>#reviewtable .th1{
    width:400px;
}

#content1>#content_center>#delivery>h2,#shipping_textbox{
    text-align: center;
}



