@charset "utf-8";

#slider {
    width: 100%;
    height: 670px;
    position: relative;
    border: 1px solid black;
    border-left-style: none;
    border-right-style: none;
}

#choice {
    width: 1080px;
    height: 100%;

    margin: 0 auto;
    position: relative;
}

#slider #table_box {
    width: 600px;
    height: 100%;

    position: absolute;
    right: 0;
}

#slider>#choice>#buyimg {
    width: 500px;
    height: 450px;
    position: absolute;
    top: 100px;
    left: 0px;
}

#slider #buyimg img {
    width: 100%;
    height: 100%;
}

#choice h2 {
    margin-top: 20px;
    text-align: center;
}

#slider #table_box>.table1 {
    border-style: none;
}

#slider #table_box>.table1 th {
    width: 200px;
    text-align: left;
}

#slider #table_box>.table1 td {
    width: 400px;
    padding: 15px 20px;
    text-align: right;
}

#choice .table2 {
    width: 600px;
    height: 200px;
    border: 1px dotted gray;
    border-left: none;
    border-right: none;
    border-bottom: none;
}


#choice .table2 th {
    width: 200px;
    text-align: left;
}

#choice .table2 td {
    width: 400px;
    padding-left:130px;
    text-align:left;
}

#slider>#choice>#table_box>.table3 {
    width: 600px;
    height: 100px;
    border: 1px dotted gray;
    border-left: none;
    border-right: none;
    border-bottom: none;
    position: absolute;
    bottom: 140px;
}

#slider>#choice>#table_box>.table3>form{
    font-weight: bold;
}

#slider>#choice>#table_box>.table3>form> #my_sum{
    margin-left: 245px;
    color:red;
    font-size: 25px;
    display: inline;
}

#slider>#choice>#table_box>.table3>form> input[type="button"]{
    margin-right: 3px;
}

#slider>#choice>#table_box>.table3>form> input[type="text"]{
    margin-left:245px;
}

#slider>#choice>#table_box .button_box {     
    width: 600px;
    height: 100px;
    position: absolute;
    bottom: 50px; 
   
}

#slider>#choice>#table_box .button_box>button {
    margin: 40px 0 0 15px;
    padding: 5px 20px;
    font-size: 25px;
    background-color: white;
}

#slider>#choice>#table_box .button_box>button:hover {
    background-color: blanchedalmond;
    cursor: pointer;
}

#slider>#choice>#table_box .button_box>.button1:hover {
    background-color: red;
    cursor: pointer;
}


#slider>#choice>#table_box .button_box>.button1 {
    margin: 40px 0 0 10px;
    padding: 5px 20px;
    font-size: 25px;
    background-color: tomato;
    color: white;
    width: 250px;
    border: none;
}

#content1 {
    width: 100%;
    height: 7950px;
    position: relative;
}

#content1>#content_center {
    width: 1080px;
    height: 100%;
    margin: 0 auto;
}

#content1 #detail>img {
    margin: 0 auto;
    display: block;
}

#content1>#content_center .tapmenu {
    width: 100%;
    height: 75px;
    background-color: gray;
    font-weight: bold;
    text-align: center;
}

#content1>#content_center .tapmenu>li {
    list-style: none;
    display: inline;
    text-align: center;
    padding: 0 65px;
}

#content1>#content_center .tapmenu>li>a {
    text-decoration: none;
    font-size: 30px;
    color: white;
    line-height: 75px;
}

#content1>#content_center .tapmenu>li>a:hover {
    opacity: 0.8;
    color: lightgray;
}

#content1>#content_center #review>#reviewtable {
    width: 1080px;
    height: 350px;
    text-align: center;
    margin: 0 0 30px 0;
}

#content1>#content_center>#review>#reviewtable .th1 {
    width: 400px;
}

#content1>#content_center>#review>#reviewtable {
    border: 1px dotted gray;
    border-left: none;
    border-right: none;
    border-top: none;
    border-collapse: collapse;
}

#content1>#content_center>#review>#reviewtable td,
#content1>#content_center>#review>#reviewtable th {
    border: 1px dotted gray;
    border-left: none;
    border-right: none;
    border-top: none;
}

#content1>#content_center>#delivery>h2 {
    text-align: center;
}

#content1>#content_center>#delivery>#shipping_textbox{
    margin:10px 0 30px 0;
}

#content1>#content_center>#delivery>#shipping_textbox>ul{
    padding-left:20px;
}
#content1>#content_center>#delivery>#shipping_textbox>ul>li{
    line-height: 55px;
}

/* 상품문의 */
#content1>#content_center>#helptable {
    width: 1080px;
    height: 350px;
}

#content1>#content_center>#helptable {
    text-align: center;
    margin:20px 0;
}

#content1>#content_center>#helptable .th1 {
    width: 400px;
}

#content1>#content_center>#helptable {
    border: 1px dotted gray;
    border-left: none;
    border-right: none;
    border-top: none;
    border-collapse: collapse;
}

#content1>#content_center>#helptable td,
#content1>#content_center>#helptable th {
    border: 1px dotted gray;
    border-left: none;
    border-right: none;
    border-top: none;
}